
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .header-v3 .container-menu-desktop {
        margin-bottom: 100px;
    }

    .header-v3 .wrap-menu-desktop {
        background-color: black;
    }
</style>
<h2 style="text-align:center">Hakkımızda</h2>
<hr />
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Misyon,Vizyon,Değerler
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        <b>Misyonumuz: </b> İnsanları Daha İyi Bir Geleceğe Taşımak<br />

                        Biz, iki kardeşin heyecan ve tutkusuyla kurulan bu şirketi, insanları daha iyi bir geleceğe taşıma amacıyla yarattık. Bizim için bu daha fazla sadece bir iş değil, bir yaşam tarzıdır.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        <b>Vizyonumuz: </b>  İnovasyon ve İnsan Odaklılıkla Büyümek <br />

                        Vizyonumuz, her gün daha iyi bir dünya yaratmak için sürekli olarak ileriye gitmek ve büyümek üzerine kuruludur. İnovasyon ve insan odaklılık, temel ilkelerimizdir. Müşterilerimize ve topluma gerçek değer katmayı hedefliyoruz.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        <b>Değerlerimiz: </b> Güvenilirlik, İş Ahlakı ve Topluma Katkı<br />

                        İşimizi yürütürken güvenilirlik, iş ahlakı ve topluma katkı gibi değerleri yüksek tutuyoruz. İşimizi dürüstlük ve şeffaflıkla yapmayı taahhüt ediyoruz ve her zaman etik bir şekilde hareket etmek için çaba gösteriyoruz.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/Content/images/hakkimizda1.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Verdiğimiz Sözler
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        <b> Müşterilerimize Verdiğimiz Söz: </b>En İyi Hizmeti Sunmak <br />

                        Müşterilerimiz, şirketimizin en değerli varlıklarıdır. Onlara en iyi hizmeti sunmayı ve ihtiyaçlarına en iyi şekilde cevap vermeyi taahhüt ediyoruz. Müşteri memnuniyeti, işimizin merkezindedir.
                    </p>

                        <p class="stext-113 cl6 p-b-26">

                            <b>Çalışanlarımıza Verdiğimiz Söz: </b>   İlerlemek ve Gelişmek İçin Destek <br />

                            Çalışanlarımız, başarımızın temel taşlarıdır. Onları desteklemek, eğitmek ve gelişmelerine yardımcı olmak, iş kültürümüzün bir parçasıdır. Her bir çalışanımızın kişisel ve profesyonel olarak büyümesini teşvik ediyoruz.

                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            <b>Topluma Verdiğimiz Söz: </b>  Sorumluluk ve Katkı <br />

                            Topluma karşı sorumluluklarımızın bilincindeyiz. Sadece kar etmekle kalmayıp, toplumumuza geri vermek ve onun daha iyi bir yer olmasına yardımcı olmak için el birliğiyle çalışıyoruz. <br />

                            Bu misyonla, işimizi her gün daha iyi bir şekilde yapmak için çaba gösteriyoruz ve geleceği aydınlık bir şekilde inşa etmek için çalışıyoruz. İyi işler yapmak ve olumlu bir etki bırakmak için buradayız.
                        </p>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/Content/images/hakkimizda2.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

